
<div ng-controller="UsersListCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Lista de usuarios del grupo</h3>
		</div>

		<table class="table">
			<thead>
                <tr>
                    <th>Princ.</th>
                    <th>Nombre</th>
                    <th>e-mail</th>
                    <th>Teléfono</th>
					<th>Hombre</th>
                    <th>
						<button class="btn btn-primary btn-sm" ng-click="add()" ng-disabled="groupForm.$invalid">
							<span class="glyphicon glyphicon-plus"></span> 
						</button>
					</th>
                </tr>
            </thead>
			<tbody>
				<tr ng-form="uForm" ng-repeat="(key, user) in users">
                    <td ng-class="{'has-error': uForm.predefined.$invalid}">
                        <input type="checkbox" class="" id="predefined" ng-model="user.predefined" name="predefined">
                    </td>
                    <td ng-class="{'has-error': uForm.userName.$invalid}">
                        <input type="text" class="form-control" id="userName" placeholder="Nombre" ng-model="user.name" name="userName" required>
                    </td>
                    <td ng-class="{'has-error': uForm.email.$invalid}">
                        <input type="email" class="form-control" id="userMail" placeholder="e-mail" ng-model="user.email" name="email" ng-required="user.predefined">
                    </td>
                    <td ng-class="{'has-error': uForm.phoneNumber.$invalid}">
                        <input type="text" class="form-control" id="userPhone" placeholder="Telefono" ng-model="user.phoneNumber" name="phoneNumber"
                        ng-pattern="/^(\d{3}[ -]?){2}\d{3}$/">
                    </td>
					<td ng-class="{'has-error': uForm.male.$invalid}">
                        <input type="checkbox" class="" id="male" ng-model="user.male" name="male">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="remove(key)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>				
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<button class="btn btn-primary btn-sm" ng-disabled="groupForm.$invalid" ng-click="add()">
							<span class="glyphicon glyphicon-plus"></span> 
						</button>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>

</div>