body.comment div.page-container {
	height: 100%;
	
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
}

body.comment div.content-container {	
	flex-grow: 1;		
}

body.comment div.row {
	margin-right: 0;
	margin-left: 0;
}

body.comment h1.pagetitle {
	background-color: #28adad;
}

/*body.comment form.comment-form,*/
body.comment div.comments{
	margin-bottom: 20px;
}

body.comment div.comments-list {
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 10px;
}

body.comment div.comment{
	background: white;
	padding: 10px;
	border: 2px solid #558aa9;
	margin-bottom: 10px;
	border-radius: 5px;
}

body.comment div.comment.even{
	text-align: right;
}

body.comment div.comment.even p.commentdate {
	text-align: left;
}

body.comment div.comment.odd p.commentdate {
	text-align: right;
}

body.comment .submit-comment{
	background-color: #28adad;
	color: black;	
	padding: 5px;
}

body.comment .submitting-comment{
	padding: 5px;
} 

body.comment .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

@media (min-width: 768px) { 
	body.comment .submit-comment{
		padding: 10px;
	}
	
	body.comment .submitting-comment{
		padding: 10px;
	}	
}
