body.login {
	width: 100%;
	height: 100%;
	background-image: url("/img/fondo-trasp.jpg");
	font-family: architects_daughterregular;
	color: #558aa9;
}

body.login div.page-container {
	height: 100%;
}

body.login div.signin-container {
	height: 100%;
}

img.logo{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	background-color: white;
	border-radius: 50%;
}

div.logo {
	width: 120%;
	height: 300px;
	background-color: rgba(255,255,255,0.9);
	/*border-radius: 50%;*/
	margin: 0px auto;
	background-image: url("/img/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin-top: 150px;
	margin-left: -30px;
	margin-right: -30px;
}

.form-signin {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    /*margin: auto auto;*/
    /*background-color: rgb(196,22,35);*/
    /*background-image: url("/img/fondo-trasp.jpg");*/
    /*position: absolute;*/
    background-color: white;
    border-color: #558aa9;
    border: 4px solid;
    /*bottom: 10%;	   	
   	left: 15px;
   	right: 15px;*/
   	/*top:0;
   	bottom:0;
   	left:0;
   	right:0;*/
   	max-width: 800px;
   	min-width: 300px;
}

.form-signin-heading{
	font-family: architects_daughterregular;
	font-size: 12px;
	font-weight: bold;
	color: #558aa9;	
	margin-top: 10px;
	/*background-color: rgba(255,255,255,.5);*/
}

.form-signin-link a{
	font-family: architects_daughterregular;
	font-size: 10px;
	color: #558aa9;
	/*background-color: rgba(255,255,255,.5);*/
}

.form-signin input, .form-signin input:focus {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #558aa9;
	-webkit-box-shadow: none; 
	box-shadow: none;
	color: black; 	
}

.form-signin .invalid-indicator {
	margin: 0px;
	padding-top: 5px;
	height: 2em;
}


.form-signin .text-danger {
	color: red;	
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    /*height: auto;*/
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signin-container {
    padding-top: 20px;
    padding-bottom: 40px;    
}

@media (min-width: 768px) { 
		
	.form-signin {
	    padding-left: 50px;
	    padding-right: 50px;
	    padding-top: 10px;
	    padding-bottom: 5px;	    
	}
	
	.form-signin-heading{
		font-size: 24px;		
	}
	
	.form-signin-link {
		margin-top: 20px;
	}
	
	.form-signin-link a{
		font-size: 16px;		
	}
	
	.form-signin input, .form-signin input:focus {
		font-size: 24px;	    
	}	
}