body.survey {
    background-image: url("/img/fondo.jpg");
    /*background-repeat: repeat-y;
    background-size: 100% auto;*/
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    
    min-height: 100%
}

body.survey div.page-container {
	width: 100%;
	height: 100%;
}

body.survey div.stage {
	width: 100%;
}

div.form-control.checks-inline{
	height: auto;
}

