<h1 class="text-center pagetitle font-huge">Eventos</h1>
<div class="content-container" style="">
	
	
    
			<iframe class="calendar" src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=es&amp;bgcolor=%23FFFFFF&amp;src=barakka.org_8g6smdg6nt1ge257qk26o1ekg8%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=Europe%2FParis" style=" 
				border-width:0 "  frameborder="0" scrolling="no"></iframe>
	    
        
</div>

