<h1 class="text-center pagetitle font-huge">San Juan del Hospital <span class="subtitle font-big">(S. XIII)</span></h1>
<div class="content-container">
	
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<div class="frame church">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/churchDoor.jpg">
		    	</div>
		    	<span class="title text-center font-normal">c/ Trinquete de Caballeros, 5</span>
	    	</div>
	    </div>
	    
	    <div class="col-md-8 col-md-offset-0 col-xs-7 col-xs-offset-1">
	    	<div class="description font-normal">
		    	&nbsp; El Conjunto Histórico Monumental Sanjuanista fue iniciado por los caballeros 
		    	de la Orden Militar de San Juan del Hospital de Jerusalén cuando el rey 
		    	D. Jaime I el Conquistador toma Valencia en 1238.
	    	</div>
	    </div>
    
    </div>
    
    <div class="row">
		<div class="col-md-8 col-xs-8">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3079.7757737543848!2d-0.37271!3d39.474394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66a0fc38e68a9b38!2sIglesia+de+San+Juan+del+Hospital!5e0!3m2!1sen!2sus!4v1396173814529"  frameborder="0" style="border:0"></iframe>
	    </div>
	    
	    <div class="col-md-4 col-xs-4">
	    	<div class="transportation font-normal">
		    	&nbsp;
		    </div>
	    </div>
    </div>
    
    <div class="row">
    	<div class="col-md-12 col-xs-12">
		    <a ng-href="{{openChurchMap()}}">
		    	<div class="open-map text-center font-big" >
		    		<span class="glyphicon glyphicon-map-marker"></span>&nbsp;Cómo llegar
		    	</div>
		    </a>
	    </div>
    </div>
    
        
</div>

