<h1 class="text-center pagetitle">Axel y Sol</h1>

<div class="content-container centered">
	<div class="frame-container">
		<div class="frame-center">
		<div class="frame us">
	    	<img class="photo" src="/img/us.jpg">
	    	<span class="title text-center">Nosotros</span>
	    </div>
	    <div class="frame calendar" ng-click="goTo('calendar')">
	    	<img class="photo" src="/img/calendar.jpg">
	    	<span class="title text-center">Calendario</span>
	    </div>
	    <div class="frame church" ng-click="goTo('church')">
	    	<img class="photo" src="/img/church.jpg">
	    	<span class="title text-center">La iglesia</span>
	    </div>
	    <div class="frame dinner" ng-click="goTo('dinner')">
	    	<img class="photo" src="/img/dinner.jpg">
	    	<span class="title text-center">El banquete</span>
	    </div>
	    <div class="frame accomodation" ng-click="goTo('accomodation')" ng-hide="group.id == 0">
	    	<img class="photo" src="/img/accomodation.jpg">
	    	<span class="title text-center">Alojamiento</span>
	    </div>
	    <div class="frame upload" ng-click="goTo('upload')" ng-hide="group.id == 0">
	    	<img class="photo" src="/img/upload.jpg">
	    	<span class="title text-center small">Sube tus fotos</span>
	    </div>
	    <div class="frame questionnaire" ng-click="goTo('questionnaire')" ng-hide="group.id == 0">
	    	<img class="photo" src="/img/questionnaire.jpg">
	    	<span class="title text-center small">Unas preguntitas</span>
	    </div>
	    <div class="frame comment" ng-click="goTo('comment')" ng-hide="group.id == 0">
	    	<img class="photo" src="/img/comment.jpg">
	    	<span class="title text-center small">Deja tu comentario</span>
	    </div>
	    <div class="frame other" ng-hide="group.id == 0">
	    	<img class="photo" src="/img/other.jpg">
	    	<span class="title text-center">Otros</span>
	    </div>
	    </div>
	</div>

</div>
    